@import "variables/reset";
@import "variables/colors";
@import "variables/typography";

:root {
  --menu-width: 280px;
}

// Mixins
@mixin unstyled-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

body,
html {
  background-color: $page-background;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  max-width: 1280px;
}

.center {
  text-align: center;
}

#page-heading {
  margin-top: 2rem;
}

#lang-selector,
#menu {
  @include unstyled-list();
}

#lang-selector li {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
  justify-content: space-around;
  position: relative;
}

#lang-selector li:last-of-type {
  margin-right: 0;
}

#menu {
  margin: 1.5rem auto;
  max-width: var(--menu-width);
  width: 100%;
  display: inline-flex;
}

#menu li {
  display: inline-block;
  padding: 0.5rem;
}

#menu .menu-link {
  max-width: calc(var(--menu-width) / 3);
  width: 100%;
  border: 1px solid $accent-color;
  cursor: pointer;
}

#menu .menu-link.active {
  background-color: $accent-color;
  color: $page-background;
}

#menu .menu-link {
  a, a:visited {
    color: inherit;
  }
}

#menu .menu-link:not(:last-of-type) {
  border-right: none;
}

#menu .menu-link:first-of-type {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#menu .menu-link:last-of-type {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#persons {
  grid-template-areas:
    "players"
    "coaches"
    "referees"
    "support";

    #player-stats {
      grid-area: players;
    }
    
    #ref-stats {
      grid-area: referees;
    }
    
    #coaches-stats {
      grid-area: coaches;
    }
    
    #support-stats {
      grid-area: support;
    }
}

/* Variables
================================== */
$bw: 1.5px; // border width

/* Tables
================================== */
.data-table {
  margin: 0 0 3em 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-column-gap: 1.2em;
  column-gap: 1.2em;
}

.data {
  margin-bottom: 2em;
  display: grid;
  column-gap: 0;
}

.data.person {
  grid-template-areas:
    "name name"
    "header stat"
    "header stat"
    "header stat";
  grid-template-columns: 60% 40%;
}

.data.team {
  grid-template-areas: "team team"
                       "event event"
                       "date date"
                       "score result";
  grid-template-columns: 2fr 1fr;
}

.data.event {
  grid-template-areas: "division division"
                       "team team"
                       "date date"
                       "score result";
  grid-template-columns: 2fr 1fr;
}

.data.event.refs {
  grid-template-areas: "division"
                       "date"
                       "team"
                       "referees";
  grid-template-columns: 1fr;
}

.data-table-cell {
  &.division {
    grid-area: division;
  }
  &.result {
    grid-area: result;
  }
  &.score {
    grid-area: score;
  }
  &.date {
    grid-area: date;
  }
  &.name {
    grid-area: name;
    background-color: $page-background;
  }
  &.team-name, &.teams {
    grid-area: team;
  }
  &.event {
    grid-area: event;
  }
  &.referees {
    grid-area: referees;

    .link, a {
      display: block;
    }
  }
}


.data-table-heading {
  grid-area: header;
  background-color: $table-header-color;
  color: $table-header-text-color;
}

.data-table-heading > .data-table-cell {
    font-weight: 900;
}

.data-table-row {
  grid-area: stat;
}

.data.team > .data-table-row {
  grid-area: rows;
}

.data-table-row > .data-table-cell {
    text-align: right;
}

.data-table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%; // Default to full width
  padding: 0.8em 1em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid $bw white;
}

@media all and (max-width: 767px) {

    .data.team .data-table-cell.name, .data.team .data-table-cell.team-name {
        border: none;
        font-size: 1.25em;
        padding: .4em 1em 0.4em $bw;
    }

    .data.event .data-table-cell.division, .data-table-cell.name {
        border: none;
        font-size: 1.25em;
        padding: 0 0 0.5em $bw;
    }

    .data.event .data-table-cell.team-name {
      border: none;
        font-size: 1.25em;
        padding: 0 0 1em $bw;
    }

    .data.team .data-table-heading, .data.event .data-table-heading {
      display: none;
    }

    .data-table-cell.event, .data-table-cell.date {
      font-size: 0.8em;
      padding: 0.2em 1em 0.4em 1.2em;
      border: none;
      background-color: $table-header-color;
      color: $table-header-text-color;
    }

    .data-table-cell.score, .data-table-cell.result,
    .data-table-row .data-table-cell,
    .data-table-cell.teams, .data-table-cell.referees {
      background-color: #FFFFFF;
    }
}

@media all and (min-width: 768px) {

#persons {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-areas: "players coaches"
                         "players referees"
                         "players support";
    grid-template-columns: 1fr 500px;
    column-gap: 60px;
    grid-column-gap: 60px;
  }

  .data-content {
    width: 100%;
  }

  .data-table {
    display: block;
  }

  .data,
  .data-table-heading,
  .data-table-row {
    display: flex;
  }

  .data-table-heading > .data-table-cell,
  .data-table-row > .data-table-cell,
  .data-table-cell {
      text-align: center;
  }

  .data-table-cell.name {
    text-align: left;
  }

  .data {
    display: grid;
    margin-bottom: 0;
  }

  #player-stats .data.person {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: ". header" "name stat";
  }

  .data.person { 
    grid-template-columns: 2fr 1fr;
    grid-template-areas: ". header" "name stat";
  }

  .data.team {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "header header header header header"
                         "date event team score result";
  }

  .data.event {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "header header header header header"
                         "date division team score result";
  }

  .data.event.refs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                         "date division team referees";
  }

  .data:not(:first-of-type) > .data-table-heading {
    display: none;
  }

  .data-table .data:nth-of-type(odd) {
      .name, .data-table-row, > .data-table-cell {
        background-color: $table-row-odd-color;
      }
  }

  .data-table .data:nth-of-type(even) {
    .name, .data-table-row, > .data-table-cell {
      background-color: $table-row-even-color;
    }
}

  .data-table-cell {
      border: none;
  }

  .data-table-cell.details {
      width: 10em;
  }

  .data.team .versus {
    display: none;
  }
}
