@import "variables/reset";
@import "variables/colors";
@import "variables/typography";

:root {
  --menu-width: 280px;
}

// Mixins
@mixin unstyled-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

@mixin table-cell-padding {
  padding: 0.5rem 1rem;
}

body,
html {
  background-color: $page-background;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  max-width: 1280px;
}

.center {
  text-align: center;
}

.grid {
  display: grid;
}

#page-heading {
  margin-top: 2rem;
}

#lang-selector,
#menu {
  @include unstyled-list();
}

#lang-selector li {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
  justify-content: space-around;
  position: relative;
}

#lang-selector li:last-of-type {
  margin-right: 0;
}

#menu {
  margin: 0.2rem auto 80px auto;
  justify-content: space-evenly;
  width: 100%;
  display: inline-flex;
}

#menu li {
  display: inline-block;
  padding: 0.5rem;
}

#menu .menu-link {
  cursor: pointer;
}

#menu .menu-link {
  a,
  a:visited {
    font-weight: 900;
    font-size: 1.25em;
    color: $link-color;
    border-bottom: 4px solid $accent-color;
    border-bottom-width: 100%;
    text-decoration: none;
    transition: all 0.4s ease-in;
  }

  a:hover,
  a:focus {
    border-bottom-width: 30%;
  }
}

#persons {
  grid-template-areas:
    "players"
    "coaches"
    "referees"
    "support";

  #player-stats {
    grid-area: players;
  }

  #ref-stats {
    grid-area: referees;
  }

  #coaches-stats {
    grid-area: coaches;
  }

  #support-stats {
    grid-area: support;
  }
}

#teams {


  .matches {
    grid-area: matches;
    overflow: auto;
    margin-top: 2em;
  }

  .players {
    grid-area: players;
    overflow: auto;
    margin-top: 2em;
  }

  .name {
    grid-area: name;
  }
}

.data-table {
  overflow-y: auto;
  width: 100%;
  position: relative;
}

.data-table table {
  width: 100%;
  overflow: hidden;
  table-layout: auto;
}

.data-table table > tbody tr:nth-child(odd) {
  td {
    background: $table-row-odd-color;
  }
}

.data-table table > tbody tr:nth-child(even) {
  td {
    background: $table-row-even-color;
  }
}

.data-table table > thead > tr th {
  @include table-cell-padding();
  background-color: $table-header-color;
  color: $table-header-text-color;
  text-align: center;
}

.data-table .name {
  width: 150px;
  @include table-cell-padding();
}

.data-table {
  .matches,
  .touchdowns,
  .assists,
  .events,
  .date,
  .event,
  .opponent,
  .score,
  .result,
  .division,
  .refTeams,
  .referees {
    min-width: 80px;
    width: min-content;
  }
}

.data-table table > tbody > tr {
  .matches,
  .touchdowns,
  .assists,
  .events,
  .date,
  .event,
  .opponent,
  .score,
  .result,
  .division,
  .refTeams,
  .referees {
    @include table-cell-padding();
    text-align: center;
  }
}

.data-table table > tfoot {
  background-color: $table-footer-color;
  color: $footer-text-color;

  td {
    @include table-cell-padding();
  }
}

#teams .team {
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "matches"
    "players";
  width: 100%;
}

.team, .event {
  margin: 2rem 0 4rem 0;
  position: relative;
}

.team .h3 {
  margin-top: 0;
}

.event-title {
  display: flex;
  column-gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support-details,
.referee-details,
.coach-details,
.player-details {
  .summary {
    display: flex;
    column-gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.summary .details {
  width: 100%;
}

.event-title .type,
.summary-sub-heading {
  margin-top: -1.5em;
  font-variant: all-small-caps;
  letter-spacing: 1.1px;
}

.event-title {
  img,
    picture {
      max-width: 150px;
      width: 100%;
      height: auto;
      max-height: 150px;
      position: relative;
      border-radius: 25%;
    }
}

.support-details,
.referee-details,
.coach-details,
.player-details {
  .summary {
    img,
    picture {
      max-width: 150px;
      width: 100%;
      height: auto;
      max-height: 150px;
      position: relative;
      border-radius: 25%;
    }
  }
}

footer {
  background: $footer-color;
  color: $footer-text-color;
  bottom: 0;
  position: relative;
  right: 0;
  left: 0;
  min-height: 120px;
  padding: 1rem 0.5rem;
  margin-top: 60px;

  p {
    a.link,
    a.link:hover,
    a.link:visited,
    a.link:focus {
      color: $footer-text-color !important;
      display: inline-block;
    }
  }
}

@import "variables/media";
