{% if locale == 'tw' %}
  {% assign docLocale = 'zh-TW' %}
{% endif %}

<!DOCTYPE html>
<html
  lang="{% if docLocale %}{{ docLocale }}{% else %}{{ locale }}{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.pageTitle }}</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,900&display=swap&subset=chinese-traditional" rel="stylesheet"> 
    <link rel="stylesheet" href="/_includes/css/main.min.css">
</head>

<body>
    <div class="container" id="page-heading">
        {% include './layouts/partials/page-heading' %}
    </div>
    <div class="grid" id="stats-holder">
        {% include './layouts/partials/player-stats' %}
        {% include './layouts/partials/coach-stats' %}
        {% include './layouts/partials/ref-stats' %}
        {% include './layouts/partials/support-stats' %}
    </div>
</body>

</html>