<div class="container" id="coach-stats">
    <h2 class="h2">Coaches</h2>
    <table class="stats-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Matches</th>
            </tr>
        </thead>
        <tbody>
            {% for coach in coaches %}
                <tr>
                    <td>{{ coach.name[locale] }}</td>
                    <td>{{ coach.matchCount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>