<div class="center">
    <!-- Site title from Sanity -->
    <h1 class="h1 loud">{{ site.title[locale]}}</h1>

    <!-- Language Selector -->
    <!-- TODO: Will need to bring in TranslationKey once subpages are created. -->
    <ul class="" id="lang-selector">
        {% if locale == 'en' %}
            <li class="loud bold">English</li>
            <span class="h5">/</span>
            <li><a href="/tw" class="link">中文版</a></li>
        {% else %}
            <li><a href="/en" class="link">English</a></li>
            <span class="h5">/</span>
            <li class="loud bold">中文版</li>
        {% endif %}        
    </ul>

    <ul id="menu">
        <li class="menu-link h5"><a href="/{{ locale }}/persons">Persons</a></li>
        <li class="menu-link h5"><a href="/{{ locale }}/teams">Teams</a></li>
        <li class="menu-link h5"><a href="/{{ locale }}/events">Events</a></li>
    </ul>
</div>