<div class="grid" id="stats-holder">
    {% include './layouts/partials/stats/player-stats' %}
    {% include './layouts/partials/stats/coach-stats' %}
    {% include './layouts/partials/stats/ref-stats' %}
    {% include './layouts/partials/stats/support-stats' %}
</div>