<div class="grid" id="teams">
    <div>
        {% for team in teams %}
            {% unless team.matches.size == 0 and team.players.size == 0 %}
                <h2 class="h2 loud">{{ team.name[locale] }}</h2>

                <h3 class="h3">Matches</h3>
                {% assign matches = team.matches %}
                {% include './layouts/partials/stats/match-stats' %}

                <h3 class="h3">Players</h3>
                {% assign players = team.players %}
                {% include './layouts/partials/stats/player-stats' %}
            {% endunless %}
        {% endfor %}
    </div>
</div>