// Define color variables

$page-background: #E7E7E7;
$main-text-color: #272727;
$accent-color: #bd1501;
$quiet-text-color: #616A7F;
$link-color: #455372;

$table-header-color: #455372;
$table-header-text-color: #E7E7E7;
$table-row-odd-color: #FFFFFF;
$table-row-even-color: #E0E9E9;

$footer-color: #455372;
$footer-text-color: #E7E7E7;
