@media all and (min-width: 450px) {
  .support-details .summary {
    display: flex;
    column-gap: 1.5rem;
    flex-direction: row;
  }
}

@media all and (min-width: 600px) {

#persons {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-areas: "players players"
                         "coaches referees"
                         "support .";
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    grid-column-gap: 60px;
  }
}

@media all and (min-width: 1024px) {
  #persons {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-areas: "players coaches"
                         "players referees"
                         "players support";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    grid-column-gap: 60px;
  }
}

@media all and (min-width: 1280px) {
  #teams .team {
    grid-template-areas: "matches players";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    grid-column-gap: 60px;
  }
}