---
layout: index
tags:
  - coaches
pagination:
  alias: coach
  data: persons.coaches
  size: 1
  addAllPagesToCollections: true
permalink: /{{ locale }}/coaches/{{ coach.name.en | slug }}/index.html
---
{% assign wins = 0%}
{% assign draws = 0%}
{% assign losses = 0 %}
{% for match in coach.matches %}
{% case match.result %}
  {% when "Win" %}
    {% assign wins = wins | plus: 1 %}
  {% when "Draw" %}
    {% assign draws = draws | plus: 1 %}
  {% else %}
    {% assign losses = losses | plus: 1 %}
{% endcase %}
{% endfor %}

<div class="coach-details">
  <div class="summary">
    <picture>
      <source 
        media="(min-width: 650px)" 
        srcset="{{ coach.300x }},
                {{ coach.600x }} 2x">
      <img 
        src="{{ coach.150x }}" 
        srcset="{{ coach.300x }} 2x"
        alt="Picture of CTTA Coach {{ coach.name[locale] }}">
    </picture>
    <div class="details">
      <h2 class="h2">{{ coach.name[locale] }}</h2>
      <p class="summary-sub-heading loud">{{ localized[locale].other.coachesInternationals }}: {{ coach.matchCount }}</p>
      <p class="summary-sub-heading">{{ localized[locale].other.wins }}: {{ wins }} | {{ localized[locale].other.draws }}: {{ draws }} | {{ localized[locale].other.losses }}: {{ losses }}</p>
    </div>
  </div>

<h3 class="h3">{{ localized[locale].plural.match | capitalize }}</h3>
{% assign matches = coach.matches %}
{% include './layouts/partials/stats/match-stats' %}
</div>