<div class="container" id="player-stats">
    <h2 class="h2 loud">Players</h2>

    <div class="data-table">
        {% for player in players %}
        <div class="data person">
                <div class="data-table-heading">
                    <div class="data-table-cell">Matches</div>
                    <div class="data-table-cell">Touchdowns</div>
                    <div class="data-table-cell">Assists*</div>
                </div>
                <div class="data-table-cell name"><a href="#" class="link">{{ player.name[locale] }}</a></div>
                <div class="data-table-row">
                    <div class="data-table-cell">{{ player.matchCount }}</div>
                    <div class="data-table-cell">{{ player.matchStats.touchdowns }}</div>
                    <div class="data-table-cell">{{ player.matchStats.assists }}</div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>