<div id="support-stats">
    <h2 class="h2 loud">Support Team</h2>
    <div class="data-table">
        <table>
            <thead>
                <tr>
                    <th class="name"></th>
                    <th class="matches">Events</th>
                </tr>
            </thead>
            <tbody>
            {% for person in persons.supporters %}
            {% unless person.eventCount == 0 %}
                <tr>
                    <td class="name"><a href="/{{ locale }}/supporters/{{ person.name.en | slug }}" class="link">{{ person.name[locale] }}</a></td>
                    <td class="events">{{ person.eventCount }}</td>
                </tr>
            {% endunless %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>